<configuration scan="true" scanPeriod="10 seconds"
	debug="true">
	<property resource="logback.properties" />

	<contextName>${context.name}</contextName>                         <!-- 本项目的名字 -->

	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${conversion.pattern}</pattern>
		</encoder>
	</appender>

	<root level="${root.level}">
		<appender-ref ref="console" />
	</root>

	<!-- 跟踪客户端行为 -->
	<appender name="tio-client-trace-log-appender"
		class="ch.qos.logback.classic.sift.SiftingAppender">
		<discriminator>
			<Key>tio_client</Key>
			<DefaultValue>unknown</DefaultValue>
		</discriminator>

		<sift>
			<appender name="${tio_client}"
				class="ch.qos.logback.core.rolling.RollingFileAppender">
				<rollingPolicy
					class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
					<fileNamePattern>${log.dir}/tio/client-trace/${tio_client}_%d{yyyyMMdd}.log
					</fileNamePattern>
					<maxFileSize>20MB</maxFileSize>
				</rollingPolicy>
				<Append>false</Append>
				<layout class="ch.qos.logback.classic.PatternLayout">
					<pattern>%m%n</pattern>
				</layout>
			</appender>
		</sift>
	</appender>

	<logger name="tio-client-trace-log" additivity="false">
		<level value="info" />
		<appender-ref ref="tio-client-trace-log-appender" />
	</logger>

</configuration>